body {
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', 'Helvetica', san-serif;
    margin: 0px;
}

.header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 16px;
    margin-bottom: 32px;
}

h1 {
    margin-right: auto;
    font-size: 24px;
}

.one, .footer {
    color: #F9FAF8;
    background-color: #1F2937;
    padding: 8px 60px;
}

.footer {
    text-align: center;
}

a {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;

}

.one-footer {
    display: flex;
    gap: 16px;
}

.hero-main {
    font-size: 48px;
    font-weight: bolder;
}

.hero-secondary {
    font-size: 18px;
    color: #E5E7EB
}  

.image {
    width: 800px;
    height: auto;
    border-radius: 0px;
}

img {
    width: 200px;
    height: auto;
    border-radius: 8px;
    border: 2px;
    border-color: #3882F6;
}

button {
    background-color: #3882F6;
    border: none;
    border-radius: 12px;
    color: #E5E7EB;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    padding: 16px 32px;
}

.two {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.two-header {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
}

.two-container {
    display: flex;
    justify-content: center;
    gap: 32px;
    margin-bottom: 32px;
}

.three {
    background-color: #E5E7EB;
    color: #1F2937;
    display: flex;
    flex-direction: column;
    padding: 8px 72px;
}

.quote {
    font-style: italic;
    font-size: 36px;
    align-self: flex-start;
}

.quote-author {
    font-size: 24px;
    font-weight: bold;
    align-self: flex-end;
}

.four {
    display: flex;
    margin: 60px;
    background-color: #3882F6;
    color: #F9FAF8;
    justify-content: space-between;
    padding: 16px;
}

.text {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.text-one {
    font-size: 24px;
    font-weight: bold;
    margin: 0px;
}

.text-two {
    margin: 0px;
}

.button-two {
    border: 2px solid #F9FAF8;
}